---
appdaemon:
  latitude: 53.441294
  longitude: -2.253445
  elevation: 33
  time_zone: Europe/London
  plugins:
    HASS:
      type: hass
      ha_url: http://homeassistant:8123
      token: ${TOKEN}
  app_dir: /conf/apps

http:
  url: http://0.0.0.0:5050

api:

# Turning on admin UI for manual diagnostics
admin:
